doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/thirdparty/bootstrap/bootstrap.css')
    link(rel='icon', href='/images/icon_16.png', type='image/png', sizes='16x16')
    link(rel='icon', href='/images/icon_32.png', type='image/png', sizes='32x32')
    link(rel='icon', href='/images/icon_64.png', type='image/png', sizes='64x64')
    link(rel='icon', href='/images/icon_128.png', type='image/png', sizes='128x128')

    script(type='text/javascript', src='/javascripts/thirdparty/jquery/jquery-1.7.min.js')
    script(type='text/javascript', src='/javascripts/thirdparty/jquery/jquery.jeditable.mini.js')
    script(type='text/javascript', src='/javascripts/matisse/inline-edit.js')
    script(type='text/javascript', src='/javascripts/thirdparty/bootstrap/bootstrap.js')
    script(type='text/javascript').

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7516685-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      var resizeOrReadyHandler = function() {
        var rtContentObj = $('#loginRightContent');
        var height = $(window).height() - $('#loginHeader').height() - $('#loginFooter').height() - 40;
        rtContentObj.css('min-height', height );
        rtContentObj.show();
      };
      $(window).resize(resizeOrReadyHandler);
      $(document).ready(function() {setTimeout(resizeOrReadyHandler, 100);});
  body!= body
    .container
      .row#loginHeader

        .span4.leftHeader
          #loginLogo
            img(src='images/mattise_whitebg.png')

        .span8.rightHeader
          .text#testimonial
             if everyauth.loggedIn
                .row#rightheaderContent
                  .span4
                    .btn-toolbar#rightHeaderButton
                      .btn-group.pr10
                        .numButton
                          h3 #{createdNum}
                          h6 Owned by Me
                      .btn-group
                        .numButton
                          h3 #{sharedNum}
                          h6 Shared with Me
                  .span3
                    .row
                      .span3
                        .btn-group.pull-right#launchButton
                          button(class='btn btn-action', data-toggle='modal', data-target="#whiteboardForm")
                            h3 New Whiteboard &raquo;
              else
                .span1
                  img(src='images/blockquotes_start.png', alt='"', align='top', width='20', height='20', class='pull-left')
                .span7
                  p Balance between wait-times of emails and misunderstandings of a phone call, Matisse grounds the discussion and reveals interpretation gaps. A whiteboarding application with real-time canvas sharing and chat. Collaborate and sketch simultaneously, build wireframes, draw html elements or share screenshots.
                #rightQuote
                  img(src='images/blockquotes_end.png', alt='"', align='top', class='pull-right', width='20', height='20')

      .row#loginHeaderDivider

        .span4#loginHeaderDividerLeft

        .span8#loginHeaderDividerRight

      .row.content#loginContent

        .span4#loginLeftContent
            if everyauth.loggedIn
              .row
                .span4
                  h3 Welcome,
              .row#userInfo
                  if everyauth.twitter
                    .span1
                      img(class="profilePic",src="#{everyauth.twitter.user.profile_image_url}")
                    .span3
                      .profileDetails
                        .pull-left
                          a #{everyauth.twitter.user.name}
                          a(href="/logout", id="logoutLink", class="logoutLink") (Logout)
                        .pull-right
                          h6 via
                          a(class='loginSource pull-right') Twitter
                  else if everyauth.facebook
                    .span1
                      img(class="profilePic",src="images/default.jpg")
                    .span3
                      .profileDetails
                        .pull-left
                          a #{everyauth.facebook.user.name}
                          a(href="/logout", id="logoutLink", class="logoutLink") (Logout)
                        .pull-right
                          h6 via
                          a(class='loginSource pull-right') Facebook
                  else if everyauth.google
                    .span1
                      img(class="profilePic",src="#{everyauth.google.user.picture ? everyauth.google.user.picture : 'images/default.jpg'}")
                    .span3
                      .profileDetails
                        .pull-left
                          a #{everyauth.google.user.name}
                          a(href="/logout", id="logoutLink", class="logoutLink") (Logout)
                        .pull-right
                          h6 via
                          a(class='loginSource pull-right') Google
              .row
                hr(class='leftContentDivider')
              .row
            else
              h3 Login with
              .loginIconBar
                a(href='/auth/twitter', style='border: 0px')
                  img(class='loginIcon', src='images/login icons/twitter-new.png')
                a(href='auth/facebook')
                  img(class='loginIcon', src='images/login icons/facebook-new.png')
                a(href='auth/google')
                  img(class='loginIcon', src='images/login icons/google-new.png')
              hr
              h3(style='font-size:1.3em')
                a(href='http://youtu.be/F4hA1A1PVxw') Watch Demo (3m 50s)
              #demovid
                iframe(width='300', height='169', src='https://www.youtube.com/embed/F4hA1A1PVxw', frameborder='0', allowfullscreen='true')
        .span8#loginRightContent
            if !everyauth.loggedIn
                .row
                  .span4
                    h3 &nbsp;
                  .span4
                    .btn-toolbar.pull-left#rightContentButton
                      .btn-group
                        button(class='greyButton') Version: 0.6Alpha
                      .btn-group
                        button(class='greyButton') Last updated July 31,2012
                .row
                  .span8
                .row
                  hr(class='dashes')
                .row
                  .span6.rightContent.carouselTitle
                    h3 Sample whiteboards
                  .span2.carousalPager
                .row
                  .span8.columns
                    #myCarousel.carousel.slide
                      .carousel-inner
                        .active.item
                          ul(class='thumbnails')
                            li(class='span3 leftThumbnail')
                                .thumbnail.sampleWb
                                  img(src='images/whiteboard1.png', alt='')
                                .thumbnailText
                            li(class='span3 rightThumbnail')
                                .thumbnail.sampleWb
                                  img(src='images/whiteboard2.png', alt='')
                                .thumbnailText
                        .item
                          ul(class='thumbnails')
                            li(class='span3 leftThumbnail')
                                .thumbnail.sampleWb
                                  img(src='images/whiteboard1.png', alt='')
                                .thumbnailText
                            li(class='span3 rightThumbnail')
                                .thumbnail.sampleWb
                                  img(src='images/whiteboard2.png', alt='')
                                .thumbnailText
                      a(class='carousel-control homepage left', href='#myCarousel', data-slide='prev') &lsaquo;
                      a(class='carousel-control homepage right', href='#myCarousel', data-slide='next') &rsaquo;
            else
                .row
                  .span8.pull-left
                    h3.dashboardRightContentHeading Owned by me
                .row
                  .span8.columns.whiteboardList#ownedBoardList
                    ul(class='thumbnails')
                    for board in ownedBoards
                      li(class='span2 dashboard#{ownedBoards.indexOf(board) == 0 || ownedBoards.indexOf(board)%3 == 0 ? "Left" : "Right"}Thumbnail #{ownedBoards.indexOf(board) > 2 ? "ownedBoardHide" : ""}')
                        .thumbnail.dashboardThumbnail.dashboardWhiteBoardItem
                          #foo&attributes({'data-foo': 'bar'})
                          .delete-board&attributes({boardUrl:board.url, name:board.name, title:'Delete Board'})
                            center
                              .delete-ico
                          a(href='/boards/#{board.url}')
                            img(src='images/140x120.gif', alt='')
                          .thumbnailText
                            p(class='thumbnailCaption editable', id='board-name-#{board.id}') #{board.name}
                .row
                  .span2.offset6#showAllCreateWhiteBoard
                    a(class='pull-left', href='#', id='showOwned') Show all
                .row
                  hr(class='dashes')
                .row
                  .span8.dashboardRightContent
                    h3.dashboardRightContentHeading Shared with me
                .row
                  .span8.columns.whiteboardList
                    ul(class='thumbnails')
                    for board in sharedBoards
                      li(class='span2 dashboard#{sharedBoards.indexOf(board) == 0 || sharedBoards.indexOf(board)%3 == 0 ? "Left" : "Right"}Thumbnail #{sharedBoards.indexOf(board) > 2 ? "sharedBoardHide" : ""}')
                        .thumbnail.dashboardThumbnail.dashboardWhiteBoardItem
                          a(href='/boards/#{board.url}')
                            img(src='images/140x120.gif', alt='')
                          .thumbnailText
                            p.thumbnailCaption #{board.name}
                            p.thumbnailCaption #{board.createdBy}
                .row
                  .span2.offset6#showAllCreateWhiteBoard
                    a(class='pull-left', href='#', id='showShared') Show all


      .row#loginFooterDivider

        .span4#loginFooterDividerLeft

        .span8#loginFooterDividerRight


      .row#loginFooter

        .span4.leftFooter#loginLeftFooter
          .row#leftFooterIcon
            .span
              a(href="https://plus.google.com/109117794938178674717", rel="publisher") Find us on Google+
            .span.pull-right

        .span8#loginRightFooter
          #footer
           .footerInner
             .footerMenu
               a(href='https://github.com/Imaginea/matisse/wiki') Matisse Wiki
               a(href='https://github.com/Imaginea/matisse') Github Repository
               a(href='https://github.com/Imaginea/matisse/issues') Bug Tracker
        .modal.hide.fade#whiteboardForm
          .modal-header
            h4 New whiteboard
              a(class='close', data-dismiss='modal') x
          .modal-body
            form(name='whiteboard', id='whiteboard', class='form-horizontal', method='post', action='/boards/')
              fieldset
                .control-group#whiteboardName
                  label(class='control-label', for='whiteboardName') Name*:
                  .controls
                    input(name='whiteboardName', id="name", type="text", placeholder="Name")
                    #nameError Please enter a valid name!
                .control-group#containerlist
                  label(class='control-label', for='containerListInput') Container type:
                  .controls
                    select(name='container', id="containers")
                      option(value="desktop-1024x768", id="desktop-1024x768") Desktop-1024x768
                      option(value="desktop-1280x1024", id="desktop-1280x1024") Desktop-1280x1024
                      option(value="iphone", id="iPhone") iPhone
                      option(value="ipad", id="iPad") iPad
                      option(value="blackberry", id="BlackBerry") BlackBerry
                      option(value="browser", id="Browser") Browser
                .control-group#layoutList
                  label(class='control-label', for='layoutListInput') Template:
                  .controls
                    select(name='layout', id="layouts")
                      optgroup(label="content")
                        option(value="blank", id="blank") Blank
                        option(value="column_header", id="column_header") Column_header
                        option(value="column_header_footer", id="column_header_footer") Column_Header_Footer
                        option(value="two_column_header", id="two_column_header") Two_Column_Header
                        option(value="two_column_header_footer", id="two_column_header_footer") Two_Column_Header_Footer
                        option(value="three_column_header", id="three_column_header") Three_Column_Header
                        option(value="three_column_header_footer", id="three_column_header_footer") Three_Column_Header_Footer
                .control-group#canvaswidth
                  label(class='control-label', for='canvasWidth') Canvas Width:
                  .controls
                    input(name='canvasWidth', id="canvasWidth", type="text", value="1024")
                .control-group#canvasheight
                  label(class='control-label', for='canvasWidth') Canvas Height:
                  .controls
                    input(name='canvasHeight', id="canvasHeight", type="text", value="768")
          .modal-footer
            p(class="help-block pull-left") *Required
            a(href='#', class='btn btn-primary', data-dismiss='modal', id='createWhiteboard') Create
            a(href='#', class='btn', data-dismiss='modal') Cancel
script(type='text/javascript', src='/javascripts/thirdparty/bootstrap/bootstrap-carousel.js')
script(type='text/javascript', src='/javascripts/thirdparty/bootstrap/bootstrap-modal-dialog.js')
script(type='text/javascript', src='/javascripts/matisse/showAll.js')
